encryption = "gpg"

[gpg]
    recipient = "22DA0C5A500BF3ACFC6ECE5A8DD17A7DC233A963"

[data]
    fullname = "Baotam Nguyen"
    gpgkey = "22DA0C5A500BF3ACFC6ECE5A8DD17A7DC233A963"
    gitemail = "hasrice@gmail.com"
